
                        <!--Experience Panel Num?-->
                        <div class="card card__panel--margin--bottom">
                            <div class="card-header grey lighten-2">
                                <div class="row">
                                    <div class="col-md-8 text-left">
                                        <h4 class="panel-title h4-responsive h4--nowrap">EMPLOYER-NAME</h4>
                                        <p class="text-muted card__p--margin--adjust"><em>MM 'YY - MM 'YY</em></p>
                                        <p class="hidden-sm-up teal-text card__p--margin--adjust">JOB-TITLE</p>
                                    </div>
                                    <div class="col-md-4 text-right hidden-lg-down  teal-text">
                                        <p class="card__p--margin--top12">JOB-TITLE</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="card-text">
                                    <ul class="list__li-style-type">
                                        <li>JOB-BULLET 1</li>
                                        <li>JOB-BULLET 2</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-data grey lighten-4 black-text">
                                <div class="row flex-center">
                                    <div class="col-12 text-left">
                                        JOB-STREET-ADDRESS, JOB-CITY, JOB-STATE JOB ZIP
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.Experience Panel Num?-->