
<!-- Experiment -->
<!--Card-->
<div class="card-overlay card--padding--left240 full-bg-image" style="background-image: url('img/gg-bridge.jpg')">

    <!--Content-->
    <div class="white-text text-center">
        <div class="card-block">
            <h5 class="teal-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
            <h3>Project title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                sed qui, dolorum!.</p>
            <a class="btn btn-lg btn-white-outline"><i class="fa fa-clone left"></i> View project</a>
        </div>
    </div>
</div>
<!--/.Card-->
<!-- /.Experiment -->